CREATE DATABASE [baza_testowa_gui1] ON  PRIMARY 
( NAME = N'baza_testowa_gui1', FILENAME = N'D:\abd\bazy\baza_testowa_gui1.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB ), 
 FILEGROUP [SECONDARY] 
( NAME = N'baza_testowa_gui1_sec', FILENAME = N'D:\abd\bazy\baza_testowa_gui1_sec.ndf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'baza_testowa_gui1_log', FILENAME = N'D:\abd\bazy\baza_testowa_gui1_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [baza_testowa_gui1]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [baza_testowa_gui1] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
